@import 'tailwindcss';

@font-face {
  font-family: 'Barlow:Bold';
  font-style: normal;
  font-weight: 700;
  src: url('https://static.figma.com/font/Barlow-Bold_2') format('woff2');
}

@font-face {
  font-family: 'Barlow:Light';
  font-style: normal;
  font-weight: 300;
  src: url('https://static.figma.com/font/Barlow-Light_2') format('woff2');
}

@font-face {
  font-family: 'Barlow:Medium';
  font-style: normal;
  font-weight: 500;
  src: url('https://static.figma.com/font/Barlow-Medium_2') format('woff2');
}

@font-face {
  font-family: 'Barlow:SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('https://static.figma.com/font/Barlow-SemiBold_2') format('woff2');
}

@font-face {
  font-family: 'Inter:Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
}

@font-face {
  font-family: 'Inter:Medium';
  font-style: normal;
  font-weight: 500;
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Math:Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/NotoSansMath-Regular_1') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Symbols2:Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/NotoSansSymbols2-Regular_5') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Symbols:Medium';
  font-style: normal;
  font-weight: 500;
  src: url('https://static.figma.com/font/NotoSansSymbols-VF_2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Symbols:SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('https://static.figma.com/font/NotoSansSymbols-VF_2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans:Medium';
  font-style: normal;
  font-weight: 500;
  src: url('https://static.figma.com/font/NotoSans-VF_3') format('woff2');
}

@font-face {
  font-family: 'Noto Sans:SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('https://static.figma.com/font/NotoSans-VF_3') format('woff2');
}

body {
  background-color: #121212;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  .animate-marquee {
    animation: none;
  }
}
